@import "tailwindcss";

@theme {
  --color-mk-primary: #065f46;
  --color-mk-primary-hover: #047857;
  --color-mk-primary-dark: #064e3b;
  --color-mk-brown: #8b4513;
  --color-mk-gold: #d4af37;
  --color-mk-bg: #fdfbf7;
  --color-mk-gray: #f3f4f6;
  --color-mk-gray-dark: #374151;
}

@layer base {
  body {
    background-color: var(--color-mk-bg);
    color: var(--color-mk-gray-dark);
    font-family: var(--font-outfit), sans-serif;
  }
}


